include ../../sys/pug/vars

footer.footer
	.footer__top
		.case
			.footer__top-wrap.row
				.footer__company
					a.footer__logo(href="index.html")
						img(src="" alt="")
					.footer__desc Механизированная штукатурка #[br]и черновая отделка в Москве и МО
				.footer__address.contact
					.contact__head
						.contact__icon
						.contact__title ОФИС
					.contact__value ул. Инструментальная, д.3 
				.footer__links.links
					ul
						li
							a(href="") Вызвать замерщика
						li
							a(href="") Калькулятор стоимости

				.footer__contacts
					.footer__phone.phone #[a(href="tel:+74951197437") +7 (495) 119-74-37]
					.footer__time.time Ежедневно 07:00–22:00
				a.footer__callback.btn.--sm.--bg-gray(href="") Заказать звонок
	.footer__mid
		.case
			.footer__mid-wrap.row
				.footer__navs.row
					.footer__nav
						ul
							li
								a(href="") Механизированная штукатурка
							li
								a(href="") Стяжка пола
							li
								a(href="") Наши работы
					.footer__nav
						ul
							li
								a(href="") Отзывы
							li
								a(href="") О компании
							li
								a(href="") Статьи
					.footer__nav
						ul
							li
								a(href="") Строительным компаниям
							li
								a(href="") Вакансии
							li
								a(href="") Контакты
				.footer__policy
					.footer__policy-link #[a(href="") Политика конфиденциальности]
					.footer__policy-text Копирование элементов сайта #[br]запрещено. Закон РФ "Об авторском #[br]праве и смежных правах"
				a.footer__dev.dev(href="" target="_blank")
					.dev__logo
						img(src="" alt="")
					.dev__title Агентство интернет-маркетинга
	.footer__bot
		.case
			.footer__bot-wrap.row
				.footer__copy (С) ПетроСтрой 2021. Все права защищены. Данный сайт носит информационно-справочный характер и не при каких условиях не является публичной офертой. #[br]Оставляя заявку на данном сайте на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с политикой


.modals
	mixin modal(id, title, text, btn)
		.modal(id='modal-'+id)
			.modal__close
			.modal__wrap
				.modal__title= title
				.modal__text= text
				.modal__form
					if attributes.select
						// .modal__select.select.--md.--bg-gray
						// 	.select__label
						// 	.select__wrap
						// 		.select__block
						// 			.select__icon
						// 				img(src="" alt="")
						// 			.select__title
						// 		.select__list
						// 			.select__item.check
						// 				input.select__input(type="radio" name="messenger" value="whatsapp")
						// 				.select__icon
						// 					img(src="" alt="")
						// 				.select__title
					if attributes.square
						.modal__input.input.--md.--bg-gray
							.input__label Площадь, м#[sup 2]
							.input__wrap
								input.input__area(type="text" name="square" placeholder="150 м2")
							.input__icon
					if attributes.radios
						.modal__radios.radios
							.radios__item.check
								input.radios__input(type="radio" name="what" value="floor" checked="checked")
								.radios__label По полу
							.radios__item.check
								input.radios__input(type="radio" name="what" value="wall")
								.radios__label По стенам

					.modal__input.input.--md.--bg-gray
						.input__wrap
							input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
						.input__icon
					button.modal__btn.btn.--md.--bg-blue= btn
					.modal__policy Нажимая на кнопку, вы даете согласие #[br]на обработку своих персональных данных #[br]и соглашаетесь с политикой конфиденциальности

	+modal('call-measurer', 'Вызовите замерщика на объект', 'Заполните форму ниже, в ближайшее время <br>вышлем специалист свяжется с Вами  <br>и подберёт удобное время для замера', 'ВЫЗВАТЬ ЗАМЕРЩИКА')
	+modal('callback', 'Закажите бесплатный звонок', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист', 'ЗАКАЗАТЬ ЗВОНОК')
	+modal('contact-directly', 'Свяжитесь с руководителем <br>напрямую', 'Заполните форму ниже и в ближайшее время <br>с Вами свяжется руководитель', 'СВЯЗАТЬСЯ С РУКОВОДИТЕЛЕМ')
	+modal('contract-payment', 'Подробнее о договоре и оплате', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист, вышлет договор <br>и расскажет о способах оплаты', 'Узнать подробнее')
	+modal('partnership', 'Вы строительная компания <br>или бригада', 'Заполните форму ниже и в ближайшее время <br>с Вами свяжется руководитель', 'ОБСУДИТЬ СОТРУДНИЧЕСТВО')
	+modal('callback-messengers', 'Закажите бесплатный звонок', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист', 'ЗАКАЗАТЬ ЗВОНОК')(select=true)
	+modal('calc', 'Рассчитайте стоимость', 'Заполните форму ниже, в ближайшее <br>время мы сообщим стоимость', 'РАССЧИТАТЬ СТОИМОСТЬ')(square=true, radios=true)