include ../../sys/pug/vars

footer.footer
	.footer__top
		.case
			.footer__top-wrap.row
				.footer__company
					a.footer__logo(href="index.html")
						img(src="_/uploads/logo.png" alt="")
					.footer__desc Механизированная штукатурка #[br]и черновая отделка в Москве и МО
				.footer__address.contact
					.contact__head
						.contact__icon
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 487.724 487.724" style="enable-background:new 0 0 487.724 487.724;" xml:space="preserve"><path d="M236.925,0.124c-96.9,3.4-177.4,79-186.7,175.5c-1.9,19.3-0.8,38,2.6,55.9l0,0c0,0,0.3,2.1,1.3,6.1 c3,13.4,7.5,26.4,13.1,38.6c19.5,46.2,64.6,123.5,165.8,207.6c6.2,5.2,15.3,5.2,21.6,0c101.2-84,146.3-161.3,165.9-207.7 c5.7-12.2,10.1-25.1,13.1-38.6c0.9-3.9,1.3-6.1,1.3-6.1l0,0c2.3-12,3.5-24.3,3.5-36.9C438.425,84.724,347.525-3.776,236.925,0.124 z M243.825,291.324c-52.2,0-94.5-42.3-94.5-94.5s42.3-94.5,94.5-94.5s94.5,42.3,94.5,94.5S296.025,291.324,243.825,291.324z"/></svg>
						.contact__title ОФИС
					.contact__value ул. Инструментальная, д.3 
				.footer__links.links
					ul
						li
							a(href="") Вызвать замерщика
						li
							a(href="") Калькулятор стоимости

				.footer__contacts
					.footer__phone.phone #[a(href="tel:+74951197437") +7 (495) 119-74-37]
					.footer__time.time Ежедневно 07:00–22:00
				a.footer__callback.btn.--sm.--bg-gray(href="") Заказать звонок
	.footer__mid
		.case
			.footer__mid-wrap.row
				.footer__navs.row
					.footer__nav
						ul
							li
								a(href="") Механизированная штукатурка
							li
								a(href="") Стяжка пола
							li
								a(href="") Наши работы
					.footer__nav
						ul
							li
								a(href="") Отзывы
							li
								a(href="") О компании
							li
								a(href="") Статьи
					.footer__nav
						ul
							li
								a(href="") Строительным компаниям
							li
								a(href="") Вакансии
							li
								a(href="") Контакты
				.footer__policy
					.footer__policy-link #[a(href="") Политика конфиденциальности]
					.footer__policy-text Копирование элементов сайта #[br]запрещено. Закон РФ "Об авторском #[br]праве и смежных правах"
				a.footer__dev.dev(href="https://polovinkin.pro/?utm_source=ref-podval&utm_medium=cpc&utm_campaign=1" target="_blank")
					.dev__logo
						img(src="_/uploads/polovinkin.png" alt="")
					.dev__title Агентство интернет-маркетинга
	.footer__bot
		.case
			.footer__bot-wrap.row
				.footer__copy (С) ПетроСтрой 2021. Все права защищены. Данный сайт носит информационно-справочный характер и не при каких условиях не является публичной офертой. #[br]Оставляя заявку на данном сайте на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с политикой


.modals
	mixin modal(id, title, text, btn)
		.modal(id='modal-'+id)
			.modal__close
			.modal__wrap
				.modal__title!= title
				.modal__text!= text
				.modal__form
					if attributes.select
						// .modal__select.select.--md.--bg-gray
						// 	.select__label
						// 	.select__wrap
						// 		.select__block
						// 			.select__icon
						// 				img(src="" alt="")
						// 			.select__title
						// 		.select__list
						// 			.select__item.check
						// 				input.select__input(type="radio" name="messenger" value="whatsapp")
						// 				.select__icon
						// 					img(src="" alt="")
						// 				.select__title
					if attributes.square
						.modal__input.input.--md.--bg-gray
							.input__label Площадь, м#[sup 2]
							.input__wrap
								input.input__area(type="text" name="square" placeholder="150 м2")
							.input__icon
					if attributes.radios
						.modal__radios.radios
							.radios__item.check
								input.radios__input(type="radio" name="what" value="floor" checked="checked")
								.radios__label По полу
							.radios__item.check
								input.radios__input(type="radio" name="what" value="wall")
								.radios__label По стенам

					.modal__input.input.--md.--bg-gray
						.input__wrap
							input.input__area(type="tel" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
						.input__icon
					button.modal__btn.btn.--md.--bg-blue= btn
					.modal__policy Нажимая на кнопку, вы даете согласие #[br]на обработку своих персональных данных #[br]и соглашаетесь с политикой конфиденциальности

	+modal('call-measurer', 'Вызовите замерщика на объект', 'Заполните форму ниже, в ближайшее время <br>вышлем специалист свяжется с Вами  <br>и подберёт удобное время для замера', 'ВЫЗВАТЬ ЗАМЕРЩИКА')
	+modal('callback', 'Закажите бесплатный звонок', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист', 'ЗАКАЗАТЬ ЗВОНОК')
	+modal('contact-directly', 'Свяжитесь с руководителем <br>напрямую', 'Заполните форму ниже и в ближайшее время <br>с Вами свяжется руководитель', 'СВЯЗАТЬСЯ С РУКОВОДИТЕЛЕМ')
	+modal('contract-payment', 'Подробнее о договоре и оплате', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист, вышлет договор <br>и расскажет о способах оплаты', 'Узнать подробнее')
	+modal('partnership', 'Вы строительная компания <br>или бригада', 'Заполните форму ниже и в ближайшее время <br>с Вами свяжется руководитель', 'ОБСУДИТЬ СОТРУДНИЧЕСТВО')
	+modal('callback-messengers', 'Закажите бесплатный звонок', 'Заполните форму ниже, в ближайшее время <br>с Вами свяжется специалист', 'ЗАКАЗАТЬ ЗВОНОК')(select=true)
	+modal('calc', 'Рассчитайте стоимость', 'Заполните форму ниже, в ближайшее <br>время мы сообщим стоимость', 'РАССЧИТАТЬ СТОИМОСТЬ')(square=true, radios=true)